apiVersion: v1
kind: Service
metadata:
  name: {{ include "s3-balance.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "s3-balance.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "s3-balance.selectorLabels" . | nindent 4 }}- name: metrics
      port: 8080
      targetPort: http
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "s3-balance.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "s3-balance.labels" . | nindent 4 }}
    service-type: metrics
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "s3-balance.selectorLabels" . | nindent 4 }}